<header class="et-l et-l--header">
    <div class="et_builder_inner_content et_pb_gutters3">
        <div class="et_pb_section et_pb_section_0_tb_header header-section-container et_pb_with_background et_section_regular et_pb_section--fixed et_pb_section--with-menu">
            <div class="et_pb_row et_pb_row_0_tb_header et_pb_gutters2 et_pb_row--with-menu">
                <div class="et_pb_column et_pb_column_3_4 et_pb_column_0_tb_header  et_pb_css_mix_blend_mode_passthrough et_pb_column--with-menu">
                    <div class="et_pb_module et_pb_menu et_pb_menu_0_tb_header et_pb_bg_layout_light  et_pb_text_align_left et_dropdown_animation_fade et_pb_menu--with-logo et_pb_menu--style-left_aligned">
                        <div class="et_pb_menu_inner_container clearfix">
                            <div class="et_pb_menu__logo-wrap">
                                <div class="et_pb_menu__logo">
				                    <a href="/"><picture><source srcset="https://web.archive.org/web/20221129075733im_/https://umstaffs.com/wp-content/webp-express/webp-images/uploads/2020/11/UMSS-logo-350by75.png.webp 250w, https://web.archive.org/web/20221129075733im_/https://umstaffs.com/wp-content/webp-express/webp-images/uploads/2020/11/UMSS-logo-350by75-20x12.png.webp 20w" sizes="(max-width: 250px) 100vw, 250px" type="image/webp"><img src="https://web.archive.org/web/20221129075733im_/https://umstaffs.com/wp-content/uploads/2020/11/UMSS-logo-350by75.png" alt="" srcset="https://web.archive.org/web/20221129075733im_/https://umstaffs.com/wp-content/uploads/2020/11/UMSS-logo-350by75.png 250w, https://web.archive.org/web/20221129075733im_/https://umstaffs.com/wp-content/uploads/2020/11/UMSS-logo-350by75-20x12.png 20w" sizes="(max-width: 250px) 100vw, 250px" class="wp-image-268432 webpexpress-processed" width="250" height="150"></picture></a>
			                    </div>
			                </div>
						    <div class="et_pb_menu__wrap">
							    <div class="et_pb_menu__menu">
								    <nav class="et-menu-nav">
                                        <ul id="menu-main-menu" class="et-menu nav">
                                            <li class="et_pb_menu_page_id-home menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-268534 current_page_item menu-item-268748"><a href="/" aria-current="page">Home</a></li>
                                            <li class="et_pb_menu_page_id-268752 menu-item menu-item-type-post_type menu-item-object-page menu-item-268772">
                                            <a href="/news/">News</a></li>
                                            <li class="et_pb_menu_page_id-268847 menu-item menu-item-type-post_type menu-item-object-page menu-item-268862"><a href="/contact/">Contact</a></li>
                                        </ul>
                                    </nav>
							    </div>
                                <div class="et_mobile_nav_menu">
                                    <div class="mobile_nav closed">
                                    <span class="mobile_menu_bar"></span>
                                </div>
                            </div>
						</div>
                    </div>
				</div>
                
                <div class="et_pb_module et_pb_menu et_pb_menu_1_tb_header et_pb_bg_layout_light  et_pb_text_align_left et_dropdown_animation_fade et_pb_menu--with-logo et_pb_menu--style-left_aligned">
                    <div class="et_pb_menu_inner_container clearfix">
                        <div class="et_pb_menu__logo-wrap">
                            <div class="et_pb_menu__logo">
				                <a href="/"><picture><source srcset="https://web.archive.org/web/20221129075733im_/https://umstaffs.com/wp-content/webp-express/webp-images/uploads/2020/11/UMSS-logo-350by75.png.webp 250w, https://web.archive.org/web/20221129075733im_/https://umstaffs.com/wp-content/webp-express/webp-images/uploads/2020/11/UMSS-logo-350by75-20x12.png.webp 20w" sizes="(max-width: 250px) 100vw, 250px" type="image/webp"><img src="https://web.archive.org/web/20221129075733im_/https://umstaffs.com/wp-content/uploads/2020/11/UMSS-logo-350by75.png" alt="" srcset="https://web.archive.org/web/20221129075733im_/https://umstaffs.com/wp-content/uploads/2020/11/UMSS-logo-350by75.png 250w, https://web.archive.org/web/20221129075733im_/https://umstaffs.com/wp-content/uploads/2020/11/UMSS-logo-350by75-20x12.png 20w" sizes="(max-width: 250px) 100vw, 250px" class="wp-image-268432 webpexpress-processed" width="250" height="150"></picture></a>
			                </div>
			            </div>
						<div class="et_pb_menu__wrap">
							<div class="et_pb_menu__menu">
								<nav class="et-menu-nav">
                                    <ul id="menu-mobile-menu" class="et-menu nav">
                                        <li id="menu-item-268750" class="et_pb_menu_page_id-home menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-268534 current_page_item menu-item-268750"><a href="/" aria-current="page">Home</a></li>
                                        <li id="menu-item-268776" class="et_pb_menu_page_id-268765 menu-item menu-item-type-post_type menu-item-object-page menu-item-268776">
                                        <a href="/client-relations">Client Relations</a></li>
                                        
                                        <li id="menu-item-268777" class="et_pb_menu_page_id-268763 menu-item menu-item-type-post_type menu-item-object-page menu-item-268777"><a href="/assignments">Assignments</a></li>
                                        <li id="menu-item-268778" class="et_pb_menu_page_id-268767 menu-item menu-item-type-post_type menu-item-object-page menu-item-268778"><a href="/support">Support</a></li>
                                        <li id="menu-item-268779" class="et_pb_menu_page_id-268752 menu-item menu-item-type-post_type menu-item-object-page menu-item-268779">
                                        </li>
                                    </ul>
                                </nav>
							</div>
                            <div class="et_mobile_nav_menu">
                                <div class="mobile_nav closed">
                                    <span class="mobile_menu_bar"></span>
                                </div>
                            </div>
						</div>
						
					</div>
				</div>
                <div class="et_pb_module et_pb_code et_pb_code_0_tb_header">
                    <div class="et_pb_code_inner">
                        <script>
                            jQuery(function($){
                            
                            var headerSection = $('.header-section-container');   
                            headerSection.wrap('<div class="header-placeholder"></div>');
                            var headerWrap = $('.header-placeholder');
                                
                            var headerHeight = headerSection.outerHeight();
                            headerWrap.css('height', headerHeight);  
                            
                            $(window).resize(function() {
                            headerHeight = headerSection.outerHeight();
                            headerWrap.css('height', headerHeight);
                            });  
                            
                            });
                        </script>
                        
                        <style>
                            .et_pb_column {
                            margin-bottom: 0px !important;
                            }
                        </style>
                    </div>
			    </div>
			</div>
            <div class="et_pb_column et_pb_column_1_4 et_pb_column_1_tb_header  et_pb_css_mix_blend_mode_passthrough et-last-child">
                <div class="et_pb_button_module_wrapper et_pb_button_0_tb_header_wrapper  et_pb_module ">
				    <a class="et_pb_button et_pb_button_0_tb_header et_pb_bg_layout_light" href="/employment/">Apply Now</a>
			    </div>
			</div>
        </div>
    </div>
</div>
	</header>